body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  text-align: center;
}

#game {
  width: 100%;
}

/******************************************************
SPLASH PAGE
******************************************************/

.splash{
background: rgba(0, 0, 0, 0.9);;
height: 100%;
width: 100%;
color: #f3f3f3;
position: absolute;
top:0;
text-align: center;
}

.header {
  text-align: center;
  margin: 50px 50px 30px;
  font-size: 3em;
}

.player-input {
  border: 1px dashed #f3f3f3;
  width: 80%;
  margin: 0 auto;
}

.player1-input, .player2-input{
  width: 40%;
  display: inline-block;
  padding: 10px 0 40px;
}

.name-text {
  outline: none;
  height: 30px;
  text-align: center;
  font-size: 1em;
}

.player1-input{
  border-right: 1px dashed #f3f3f3;
}

.grid-size {
  height: auto;
  width: 80%;
  margin: 40px auto 0;
  border: 1px dashed #f3f3f3;
  padding: 10px;
  font-size: 1.1em;
}

.grid-selection {
  display: inline-block;
  width: 15%;
  margin: 35px;
}

button {
  border: none;
  width: 80px;
  height: 40px;
  font-size: 1em;
  letter-spacing: 2px;
}

.row-input{
  display: inline-block;
  width: 35px;
  padding:2px;
  outline: none;
  text-align: center;
  margin-left: 10px;
  font-size: 0.9em;
}

.grid-size p {
  margin-top: 30px;
}

.selected {
  background: #ffb84d;
}

.play-game {
    margin-top: 35px;
    padding: 20px;
    width: 200px;
    font-size: 18px;
}

.play-game:hover {
  background: #ffb84d;
}

.alert-parent {
  background: rgba(166, 166, 166, .7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.alert {
  position: absolute;
  height: 180px;
  width: 400px;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  background: #ffc266;
  border: 2px dashed #000;
  color: #000;
}

.closeAlertBox {
  padding: 5px;
  margin-top: 30px;
  text-decoration: underline;
}

/******************************************************
ddd
******************************************************/

.player1, .player2 {
  width: 20%;
  height: 50px;
  display: inline-block;
  float: left;
  text-align: center;
}

.gamearea {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  float: left;
}

.row {
  height: 50px;
  display: flex;
}

.col {
  border: 1px solid #000;
  display: inline-block;
  height: 50px;
}
