body, html {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    background: #000;
    color: #f6f6f6;
}
h1 {
    text-align: center;
}
#game {
    width: 100%;
    height: 540px;
}


/******************************************************
SPLASH PAGE
******************************************************/

.splash {
    background: rgba(0, 0, 0, 0.9);
    ;
    height: 100%;
    width: 100%;
    color: #f3f3f3;
    position: absolute;
    top: 0;
    text-align: center;
}
.header {
    text-align: center;
    margin: 50px 50px 30px;
    font-size: 3em;
}
.player-input {
    border: 1px dashed #f3f3f3;
    width: 80%;
    margin: 0 auto;
}
.player1-input, .player2-input {
    position: relative;
    width: 49%;
    display: inline-block;
    padding: 10px 0 40px;
}

.player-token1, .player-token2{
  position: absolute;
  top: 22px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px #000;
  color: #ffb84d;
  transform: rotate(90deg);
  	transform-origin: left top 0;
}

.player-token1:hover, .player-token2:hover {
  font-weight: bold;
  text-decoration: underline;
}

.player-token2 {
  margin-left: 25px;
}

.tokens-p2, .tokens-p1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  background: rgba(255, 194, 102, 1);
  text-shadow: 1px 1px 1px #000;
  display: none;
}

.player-input img {
  height: 50%;
  margin: 5px;
}

.name-text {
    outline: none;
    height: 30px;
    text-align: center;
    font-size: 1em;
}
.player1-input {
    border-right: 1px dashed #f3f3f3;
}
.grid-size {
    height: auto;
    width: 80%;
    margin: 40px auto 0;
    border: 1px dashed #f3f3f3;
    padding: 10px;
    font-size: 1.1em;
}
.grid-selection {
    display: inline-block;
    width: 15%;
    margin: 25px 35px;
}
button {
    border: none;
    width: 80px;
    height: 40px;
    font-size: 1em;
    letter-spacing: 2px;
    background: #f3f3f3;
}
button:hover {
  background: #ffb84d;
}
.row-input, .elements-input {
    display: inline-block;
    width: 35px;
    padding: 2px;
    outline: none;
    text-align: center;
    margin: 0 10px;
    font-size: 0.9em;
}

.info{
  font-size: 0.7em;
}

.info-text {
  color: tomato;
}

.grid-size p {
    margin-top: 30px;
}
.selected {
    background: #ffb84d;
}
.play-game {
    margin-top: 35px;
    padding: 20px;
    width: 200px;
    font-size: 18px;
}
.play-game:hover {
    background: #ffb84d;
}
.alert-parent {
    background: rgba(166, 166, 166, .7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.alert {
    position: absolute;
    height: 180px;
    width: 400px;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    background: #ffc266;
    border: 2px dashed #000;
    color: #000;
}
.closeAlertBox {
    padding: 5px;
    margin-top: 30px;
    text-decoration: underline;
}

/******************************************************
ddd
******************************************************/
.token {
  margin: 10%;
}
.selected-token-p1, .selected-token-p2 {
  background: tomato;
  border-radius: 50%;
  border: 4px solid tomato;
}
.player1, .player2 {
    width: 20%;
    height: 520px;
    display: inline-block;
    padding: 50px 0;
    font-size: 1.7em;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.player1 p, .player2 p{
  margin: 0 0 20px;;
}

.number-wins{
  font-size: 1.5rem;
  padding-top: 100px;
}

.gamearea {
    width: 60%;
    height: 520px;
    margin: 0 auto;
    display: inline-block;
    float: left;
    color: #000;
}
.row {
    height: 50px;
    display: flex;
}
.col {
    border: 1px solid #000;
    display: inline-block;
    background: #fff;
    text-align: center;
}
.your-turn {
    color: #ffb84d;
}
h1 {
    font-size: 3em;
}
footer {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px dashed #f3f3f3;
    font-size: 1.3em;
}
footer p {
    display: inline-block;
    padding: 20px;
    margin: 0;
}

.end-message{
  background: #ffb84d;
  position: absolute;
  top: 35%;
  width: 60%;
  right: 20%;
  text-align: center;
  display: none;
}

.end-message p {
  font-size: 1.9em;
  padding: 10px 5px 0px;
  text-shadow: 2px 1px 2px #504f4f;
}

.end-message button {
  width: 200px;
  border: 1px dashed #000;
  height: 45px;
  margin: 0px 15px 35px;
}

.end-message button:last-child {
  background: rgb(251, 180, 180);
}
